<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626885983876-qqo7cdur2ijusea5hlba4d5amahl396h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626885983876-qqo7cdur2ijusea5hlba4d5amahl396h</string>
	<key>API_KEY</key>
	<string>AIzaSyDOhZp86IxFeKQqqPf_ksitXdAaurhO-T8</string>
	<key>GCM_SENDER_ID</key>
	<string>626885983876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.hyena.mastermind</string>
	<key>PROJECT_ID</key>
	<string>mastermind-makebate</string>
	<key>STORAGE_BUCKET</key>
	<string>mastermind-makebate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626885983876:ios:e5ae2ff9c3ed3657a64cd1</string>
	<key>DATABASE_URL</key>
	<string>https://mastermind-makebate.firebaseio.com</string>
</dict>
</plist>